<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="#">Logo</a>
      <input type="checkbox" id="checkbox" />
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <button class="dropdown">
          Courses
          <i class="bx bx-chevron-down"></i>
          <div class="menu">
            <a href="#">link 1</a>
            <a href="#">link 2</a>
            <a href="#">link 3</a>
          </div>
        </button>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
        <a href="#">Services</a>
        <a href="#">Services</a>
        <label for="checkbox"
          ><i class="bx bx-x" style="color: #ffffff"></i
        ></label>
      </nav>
      <label for="checkbox"><i class="bx bx-menu-alt-right"></i></label>
    </header>
    <div class="box"></div>
    <section>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/NIEaaZMTQp0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </section>
    <section>
      <iframe
        src="https://glovoapp.com/ug/en/kampala/"
        frameborder="0"
        width="400"
        height="500"
      ></iframe>
    </section>
  </body>
</html>
