@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300;400;500;700;900&display=swap");
$primary: #0f172a;
$white: #f8fafc;
$pink-light: #fbcfe8;
$default-font: "Roboto", sans-serif;
$logo-font: "Koulen", cursive;
$base-fonts-size: 13px;
