.heading {
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 10px;
}
.rounded {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.b-red {
  border: 2px solid red;
}
#deleteBtn,
.openAccountBtn {
  background-color: purple;
  padding: 0.6rem 2rem;
  color: white;
  border: none;
}
.openAccountBtn {
  background-color: green;
}
