* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
a {
  text-decoration: none;
  display: block;
}

.product-list {
  place-items: center;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  background-color: whitesmoke;
  min-height: 100vh;
}
.product img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.detail-page {
  margin: auto;
  padding: 20px;
  max-width: 900px;
  background-color: pink;
  text-align: center;
}

.category-list {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}
.category {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  width: 200px;
  height: 200px;
}
.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category h2 {
  position: absolute;
  left: 5px;
  top: 50%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.435);
  padding: 5px 15px;
}

header {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}
header img {
  height: 100%;
}
